<h1 class="text-center display-2">Stupid Coaching</h1>
<div class="card container text-center">
  <p><%= @answer %></p>
  <p>-You</p>
</div>
<hr>
<div class="card container text-center">
  <p><%= @coach_answer %></p>
  <p>-Your coach</p>
</div>
<hr>
<p class="text-center" role="button"><%= link_to "Volver a preguntar", ask_path %></p>
